<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>Your Profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info">
            <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div>
                    <strong>Name: </strong>
                    <p>{{member.firstName}} {{member.lastName}}</p>
                </div>
                <div>
                    <strong>Age: </strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Gender: </strong>
                    <p>{{member.gender}}</p>
                </div>
                <div>
                    <strong>Member since: </strong>
                    <p>{{member.created}}</p>
                </div>
                <div>
                    <strong>Last Active: </strong>
                    <p>{{member.lastActive}}</p>
                </div>
                <div>
                    <strong>City, State: </strong>
                    <p>{{member.city}}, {{member.state}}</p>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success btn-block">Save Changes</button>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='Inquiry'>
                <div>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                              <th>Name</th>
                              <th>Age</th>
                              <th>Relations</th>
                              <th>Reported</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let missing of missings">
                                <td>{{missing.firstName}} {{missing.lastName}}</td>
                                <td>{{missing.age}}</td>
                                <td>{{missing.relations}}</td>
                                <td>{{missing.created}}</td>
                              </tr>
                          </tbody>
                    </table>
                    <div>
                        <button class="btn btn-primary">Report Missing Persons</button>
                    </div>
                </div>
            </tab>  
            <tab heading='Messages'>
                <p>Messages go here</p>  
            </tab>
        </tabset>
               
    </div>
</div>