<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>Your Profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information: </strong>You have made changes. Any unsaved changes will be lost
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <div>
                        <strong for="lastName">Last Name: </strong>
                        <input [(ngModel)]="member.lastName" type="text" name="lastName" class="form-control">
                    </div>
                    <div class="mt-1">
                        <strong for="firstName">First Name: </strong>
                        <input [(ngModel)]="member.firstName" type="text" name="firstName" class="form-control">
                    </div>
                    <div class="mt-1">
                        <strong for="city">City: </strong>
                        <input [(ngModel)]="member.city" type="text" name="city" class="form-control">
                    </div>
                    <div class="mt-1">
                        <strong for="state">State: </strong>
                        <input [(ngModel)]="member.state" type="text" name="state" class="form-control">
                    </div>
                </form>
                
                <div>
                    <strong>Gender: </strong>
                    <p>{{member.gender}}</p>
                </div>
                <div>
                    <strong>Member since: </strong>
                    <p>{{member.created | date: 'dd MMM yyy'}}</p>
                </div>
                <div>
                    <strong>Last Active: </strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
            </div>
            <div class="card-footer">
                <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-success btn-block">Save Changes</button>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='Inquiry'>
                <div>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                              <th>Name</th>
                              <th>Age</th>
                              <th>Relations</th>
                              <th>Reported</th>
                              <th>Update</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let missing of missings">
                                <td>{{missing.firstName}} {{missing.lastName}}</td>
                                <td>{{missing.age}}</td>
                                <td>{{missing.relations}}</td>
                                <td>{{missing.created | timeago}}</td>
                                <td> <button class="btn btn-link" routerLink='/missings/{{missing.id}}'>Edit</button> </td>
                            </tr>
                          </tbody>
                    </table>
                    <div>
                        <button (click)="postToggle(template)" class="btn btn-primary">Report Missing Persons</button>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>

<ng-template #template>
    <div class="modal-body">
        <app-post-missing (messageEvent)="receiveMessage($event)"></app-post-missing>
    </div>
</ng-template>