<div class="row" *ngIf="missing">
    <div class="col-4">
        <div class="card">
            <img src="{{missing.photoUrl || './assets/user.png'}}" alt="{{missing.firstName}} {{missing.lastName}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Name: </strong>
                    <p>{{missing.firstName}} {{missing.lastName}}</p>
                </div>
                <div>
                    <strong>Relation to informer: </strong>
                    <p>{{missing.relations}}</p>
                </div>
                <div>
                    <strong>Age: </strong>
                    <p>{{missing.age}}</p>
                </div>
                <div>
                    <strong>Gender: </strong>
                    <p>{{missing.gender}}</p>
                </div>
                <div>
                    <strong>Missing since: </strong>
                    <p>{{missing.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Message Informer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='Informer'>
                <div>
                    <strong>Name: </strong>
                    <p>{{missing.informer.firstName}} {{missing.informer.lastName}}</p>
                </div>
                <div>
                    <strong>Age: </strong>
                    <p>{{missing.informer.age}}</p>
                </div>
                <div>
                    <strong>Gender: </strong>
                    <p>{{missing.informer.gender}}</p>
                </div>
                <div>
                    <strong>Address: </strong>
                    <p>{{missing.informer.city}}, {{missing.informer.state}}</p>  
                </div> 
                <div>
                    <strong>Last Active: </strong>
                    <p>{{missing.informer.lastActive | timeago}}</p>
                </div>
            </tab>  
            <tab heading='Photos'>
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
            </tab>
            <tab heading='Messages'>
                <p>Messages go here</p>  
            </tab>
        </tabset>
               
    </div>
</div>